<form>
  <h4>mat-select</h4>
  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        <img
          src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
        />
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>Selected food: {{selectedValue}}</p>
  <h4>native html select</h4>
  <mat-form-field>
    <mat-label>Favorite car</mat-label>
    <select matNativeControl [(ngModel)]="selectedCar" name="car">
      <option value="" selected></option>
      <option *ngFor="let car of cars" [value]="car.value">
        <img
          src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
        />
        {{car.viewValue}}
      </option>
    </select>
  </mat-form-field>
  <p>Selected car: {{selectedCar}}</p>
</form>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
